@{
    ViewData["Title"] = "Home Page";
}
@model WebApplication2.Models.User1

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form method = "post" action="Ryan/login" >
        
        <label for="username">帳號:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="passwd">密碼:</label><br>
        <input type="text" id="passwd" name="passwd"><br><br>
         <div><span style="color:red">@ViewBag.Msg</span></div>                                                
                                                        
        <input type="submit" value="登入">

    </form>
</div>
