@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "product";
}
<h2>product</h2>
<table style="width:100%" border="=" 1>

    <tr>

        @for (int i = 1; i <= (int)ViewData["count"]; i++)
        {

            for (int j = 1; j <= 9; j++)
            {

            <tr>
                <td>@i</td>
                <td>*</td>
                <td>@j</td>
                <td>=</td>
                <td>@(i*j)</td>
            </tr>

        }

    }

        </tr>

    </table>
    @using System.IO
@{ 
    var dir = Directory.GetCurrentDirectory();
}
<p>@dir</p>


